#content .container {
  padding-top: 0;
  align-items: flex-start;
  justify-content: center;
}
#content .taskList, #content .taskAction {
  padding: 2rem;
}
#content .taskList {
  background-color: $dark;
  border-radius: $brRadius;
  color: $white;
  margin-right: 1.18rem;
  margin-bottom: 1.18rem;
}
#content .taskAction {
  border: .06rem solid $taskBorder;
  color: $dark;
  flex-grow: 1;
  padding-top: 1.5rem;
}
.tasks p {
  position: relative;
  font-weight: normal;
}
.tasks ul {
  padding-left: 1rem;
}
.tasks p::after {
  position: absolute;
  width: .75rem;
  height: .75rem;
  top: 50%;
  margin-left: .125rem;
  transform: translateY(-50%);
  background-image: url("../../images/down.svg");
  content: " ";
}
.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tabs button {
  border: none;
  width: 18.125rem;
  margin-top: .5rem;
}
.taskAction p {
  border-radius: $brRadius;
  border: 0.06rem solid $taskBorder;
  margin-top: 2.8125rem;
  resize: none;
  width: 100%;
  height: 5.625rem;
  padding: 1.125rem 2rem;
  font-size: .875rem;
  color: $dark;
}
.report {
  display: inline-flex;
  align-items: flex-start;
  color: $breadcrumb;
  margin-bottom: 4.5rem;
}
.taskAction .btnAction button {
  width: 18rem;
}
.taskAction .btnAction button:first-child {
  margin-right: 4.375rem;
}