#content .container {
  padding-top: 0;
  align-items: flex-start;
}
#content .taskList, #content .taskAction {
  padding: 2rem;
}
#content .taskList {
  background-color: $dark;
  border-radius: 4px;
  color: $white;
  font-weight: 500;
  font-size: 12px;
  line-height: 26px;
}
#content .taskAction {
  margin-left: 1.18rem;
  border: 1px solid #DDE1E6;
  color: $dark;
}
.tasks p {
  position: relative;
  cursor: pointer;
  font-weight: normal;
}
.tasks ul {
  padding-left: 1rem;
  font-weight: normal;
  font-size: 10px;
}
.tasks p::after {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  margin-left: .125rem;
  transform: translateY(-50%);
  background-image: url("../../images/down.svg");
  content: " ";
}
.taskList .title{
}