.btn {
  border: .125rem solid $taskBorder;
  border-radius: $brRadius;
  background-color: white;
  color: $dark;
  padding: .875rem 1.75rem;
  transition: .3s;
}
.darkBtn {
  background: $dark;
  color: $color-header;
  border: .125rem solid $dark;
}
.lightBtn {
  background: $white;
  color: $dark;
  border: .125rem solid $dark;
}
.activeBtn {
  background: $color-header;
}
