nav, #header ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
#header li {
  display: inline-block;
  padding: 1.125rem;
}
#header li:hover {
  background: linear-gradient(0deg, $dark 0%, #b7b7b738 100%);
}