#sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: $background-header;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3.75rem;
}
.openSidebar{
  display: none;
  padding: 1.125rem 1rem 1.125rem 0;
}
.right{
  left: auto;
  right: 0;
}
#sidebar a {
  padding: .5rem .5rem .5rem 2rem;
  text-decoration: none;
  color: $color-header;
  display: block;
  transition: 0.3s;
}
#sidebar a:hover {
  color: #ffffff;
}
#sidebar .closeSidebar {
  position: absolute;
  top: .375rem;
  right: 1.5rem;
  font-size: 2.25rem;
  margin-left: 3.125rem;
}